* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: black;
  text-decoration: none;
  display: inline-block; }

li {
  list-style-type: none; }

/***********************************
**************  Variables  *********
************************************/
/***********************************
**************  Fonts  *************
************************************/
/***********************************
*******  Margins & Paddings  *******
************************************/
/***********************************
**************  The Body  ************
************************************/
/***********************************
**************  The Header  ************
************************************/
/***********************************
**************  A Section **********
******   which holds thumbnails  ***
************************************/
/***********************************
**************  thumbnail  ************
************************************/
/***********************************
**************  Text  **************
************************************/
header h1 {
  font-family: "Righteous", serif;
  color: black;
  text-transform: uppercase; }

nav a {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: .9em;
  line-height: 1.5;
  letter-spacing: .5px;
  position: relative;
  width: auto; }
  nav a:before {
    position: absolute;
    content: "";
    border-bottom: black solid 2px;
    top: 0;
    left: 0;
    right: 100%;
    bottom: -2px;
    transition: all 0.25s ease-out; }
  nav a:hover:before {
    right: 0px; }

h1 {
  font-family: "Righteous", serif;
  color: black;
  text-transform: uppercase; }

h2 {
  font-family: "Righteous", serif;
  color: black;
  text-transform: capitalize;
  font-size: 1em; }

p {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: .9em;
  line-height: 1.5;
  letter-spacing: .5px; }

/***********************************
**************  Body  **************
************************************/
body {
  display: grid;
  margin: 0 auto;
  max-width: 1200px; }
  @media (min-width: 768px) {
    body {
      padding: 7em 2.5em; } }
  @media (min-width: 768px) {
    body {
      grid-template-columns: 1fr 3fr;
      grid-column-gap: 5em;
      grid-template-rows: auto;
      grid-template-areas: "header main"; } }

/***********************************
**************  Header  ************
************************************/
header {
  grid-area: header; }

header h1 {
  margin-bottom: 1em; }

header a {
  margin-bottom: .5em; }

/***********************************
**************  Nav  ***************
************************************/
/***********************************
**************  Main  **************
************************************/
main {
  grid-area: main;
  width: 100%; }

/***********************************
**************  Sections  **********
************************************/
main section:first-child {
  display: flex;
  flex-wrap: nowrap; }
  main section:first-child p {
    text-align: right; }
  @media (min-width: 768px) {
    main section:first-child img {
      width: 82%;
      height: 250px;
      object-fit: cover;
      margin-left: auto; } }
  main section:first-child p {
    margin-bottom: .25em; }

main section:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

main section:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  main section:nth-of-type(3) h1 {
    display: inline-block;
    width: 100%;
    text-align: center; }

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .thumbnail:hover img {
    transform: scale(1.1);
    opacity: .8; }
  @media (min-width: 768px) {
    .thumbnail {
      width: 175px;
      height: 225px; } }
  .thumbnail .img-container {
    width: 175px;
    height: 150px;
    overflow: hidden; }
  .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.25s ease-out; }
  @media (min-width: 768px) {
    .thumbnail {
      margin-top: 3em; } }

.divider {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 100px;
  width: 50%;
  transition: width 0.25s ease-out; }
  .divider::before {
    content: "";
    position: absolute;
    border-bottom: black 2px solid;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%; }
  .divider:hover {
    width: 75%; }

/***********************************
**************  Thumbnail  *********
************************************/
/***********************************
**************  Mixins  *********
************************************/
/***********************************
**************  index  *********
************************************/

/*# sourceMappingURL=styles.css.map */
