/***********************************
**************  Variables  *********
************************************/

// Colors
$color-1: black;

// fonts
$display-font: 'Righteous', serif;
$text-font: 'Poppins', sans-serif;

// break-points
$desktop: 900px;
$max-width: 1050px;

// Sizings
$tm-height: 225px;
$tm-width: 100%; // thumbnail mobile
$td-height: 225px; // --Thumbnail-Desktop-Height
$td-width: 175px; // --Thumbnail-Desktop-Width

// Other
$transition-time: .25s ease-out;
