/***********************************
**************  Text  **************
************************************/
header h1 { // Selects the h1 in the header, Which is "Veronica Jane"
  @include title-font;
}

nav a { // Selects the a-text links in the nav
  @include text-font;
  @include underline-animation-accent;
}

h1 {
  @include title-font;
}

h2 {
  @include header-font;
}

p {
  @include text-font;
}

/***********************************
**************  Body  **************
************************************/

body {
  @include body-section;
  @include body-margin;
}

/***********************************
**************  Header  ************
************************************/

header {
  @include header-section;
  @include header-margin;
  grid-area: header;
}

header h1 {
  @include nav-title-margin;
}

header a {
  @include nav-item-margin;
}

.hamburger {
  @include hamburger-item;
}

nav .hamburger {
  @include hamburger-item;
  @include section-margin;
}

/***********************************
**************  Nav  ***************
************************************/

nav {
  @include nav-section;
  @include nav-margin;
}

/***********************************
**************  Main  **************
************************************/

main {
  grid-area: main;
  width: 100%;
}

/***********************************
**************  Sections  **********
************************************/
main section:first-child { // selects the first section
  @include intro-section;

  p {
    @include item-margin;
  }
}

main section:nth-of-type(2) { // select the second section
  @include thumbnail-section;
  h1 {
    @include header-item;
    @include title-margin;
  }
}


main section:nth-of-type(3) { // selects the third section
  @include thumbnail-section;
  h1 {
    @include title-margin;
    @include header-item;
  }
}

.thumbnail {
  @include thumbnail-item;

  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {
    @include thumbnail-margin;
  }

}

.thumbnail:nth-of-type(n + 2) { // skips first thumbnail
  @include thumbnail-margin;
}

.divider {
  @include divider-span-accent;
}

footer {
  @include footer-item;
  @include sub-text-font;
  @include thumbnail-margin;
  @include section-margin;
  grid-area: footer;
}
