/***********************************
**************  thumbnail  ************
************************************/

@mixin thumbnail-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // ABOVE - media independent code
  // BELOW - media dependent code

  &:hover img {
    transform: scale(1.1);
    opacity: .8;
  }

  @media (min-width: $desktop) {
    width: $td-width;
    height: $td-height;
  }

  .img-container {
    width: $td-width;
    height: $td-height * (2/3);
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all $transition-time;
    // ABOVE - media independent code
    // BELOW - media dependent code

    @media (min-width: $desktop) {
    }
  }
}
