/***********************************
*******  Margins & Paddings  *******
************************************/

@mixin body-margin {
  margin: 0 auto;
  max-width: 100vw;
  overflow-x: hidden;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {
    padding: 7em 2.5em 0;
  }
}

@mixin header-margin {
  padding: 1.5em 2em;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {
    padding: 0;
  }
}

@mixin nav-margin {
  // ABOVE - media independent code
  // BELOW - media dependent code
  padding: 2em 3em;
  @media (min-width: $desktop) {
    padding: 0;
  }
}

@mixin thumbnail-margin {

  // ABOVE - media independent code
  // BELOW - media dependent code
  margin-top: 3em;
  @media (min-width: $desktop) {

  }
}

@mixin section-margin {
  margin-bottom: 2.5em;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {
  }
}

@mixin nav-title-margin {
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {
    margin-bottom: 1em;
  }
}

@mixin title-margin {
  margin-bottom: 1em;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {

  }
}

@mixin item-margin {
  margin-bottom: .25em;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {
  }
}

@mixin nav-item-margin {
  margin-bottom: .5em;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {
  }
}
