/***********************************
**************  Variables  *********
************************************/

// Colors
$color-1: black;

// fonts
$display-font: 'Righteous', serif;
$text-font: 'Poppins', sans-serif;

// break-points
$desktop: 768px;
$max-width: 1200px;

// Sizings
$tm-height: 300px;
$tm-width: 300px; // thumbnail mobile
$td-height: 225px; // --Thumbnail-Desktop-Height
$td-width: 175px; // --Thumbnail-Desktop-Width

// Other
$transition-time: .25s ease-out;

/***********************************
**************  Fonts  *************
************************************/

@mixin title-font {
  font-family: $display-font;
  color: $color-1;
  text-transform: uppercase;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {

  }
}

@mixin header-font {
  font-family: $display-font;
  color: $color-1;
  text-transform: capitalize;
  font-size: 1em;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {

  }
}

@mixin text-font {
  font-family: $text-font;
  color: $color-1;
  font-size: .9em;
  line-height: 1.5;
  letter-spacing: .5px;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {

  }
}

/***********************************
*******  Margins & Paddings  *******
************************************/

@mixin body-margin {
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {
    padding: 7em 2.5em;
  }
}

@mixin thumbnail-margin {

  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {
    margin-top: 3em;
  }
}

@mixin section-margin {
  margin-bottom: 2.5em;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {
  }
}

@mixin title-margin {
  margin-bottom: 1em;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {
  }
}

@mixin item-margin {
  margin-bottom: .25em;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {
  }
}

@mixin nav-item-margin {
  margin-bottom: .5em;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {
  }
}

/***********************************
**************  Styles  ************
************************************/

@mixin header-section {
  display: flex;
  flex-wrap: nowrap;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {

  }

  p {
    text-align: right;
    // ABOVE - media independent code
    // BELOW - media dependent code
    @media (min-width: $desktop) {

    }
  }

  img {

    // ABOVE - media independent code
    // BELOW - media dependent code
    @media (min-width: $desktop) {
      width: 82%;
      height: auto;
      object-fit: cover;
      margin-left: auto;
    }
  }
}

/////////////////////// Thumbnail ///////////////////////

@mixin thumbnail-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {

  }
}

@mixin thumbnail-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // ABOVE - media independent code
  // BELOW - media dependent code

  &:hover img {
    transform: scale(1.1);
    opacity: .8;
  }

  @media (min-width: $desktop) {
    width: $td-width;
    height: $td-height;
  }

  .img-container {
    width: $td-width;
    height: $td-height * (2/3);
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all $transition-time;
    // ABOVE - media independent code
    // BELOW - media dependent code

    @media (min-width: $desktop) {
    }
  }
}

/////////////////// Small Pieces

@mixin divider-span {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 100px;
  width: 50%;
  transition: width $transition-time;
  &::before {
    content: "";
    position: absolute;
    border-bottom: $color-1 2px solid;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
  }
  &:hover {
    width: 75%;
  }
}

@mixin underline-animation {
  position: relative;
  width: auto;
  &:before {
    position: absolute;
    content: "";
    border-bottom: $color-1 solid 2px;
    top: 0;
    left: 0;
    right: 100%;
    bottom: -2px;
    transition: all $transition-time;
  }
  &:hover:before {
    right: 0px;
  }
}
